<form [formGroup]="EditstsForm">
    <div class="col">
        <div class="row mb-3">
            <input type="hidden" formControlName="applicationId">
        </div>
        <div class="row mb-3">
            <label for="status">Status</label>

            <select class="form-control" id="status" formControlName="Status">
                <option>Application Approved</option>
                <option>Application Pending due to insufficient data</option>
                <option>Application Rejected </option>

            </select>
            <div class="form-text"></div>
        </div>
        <div class="row mb-3">
            <label for="dateofapproved">Date of Application Approved</label>
            <input type="date" formControlName="DateofAdminStatus" class="form-control" id="DateofAdminStatus"/>
            <div class="form-text"></div>
        </div>
        <div class="row mb-3">

            <button (click)="EditSts()">Submit</button>

            <div class="form-text"></div>
        </div>



    </div>
    <input type="hidden" formControlName="Firstname" class="form-control" id="firstname">
    <input type="hidden" class="form-control" id="Lastname" formControlName="Lastname">
    <input type="hidden" class="form-control" id="Email" formControlName="Email">
    <input type="hidden" formControlName="Phoneno" class="form-control" id="mobile">
    <input type="hidden" class="form-check-input" value="Male" id="male" formControlName="gender">
    <input type="hidden" class="form-check-input" value="Female" id="female" formControlName="gender">
    <input type="hidden" formControlName="Dob" class="form-control" id="mobile">
    <input type="hidden" formControlName="Address1" class="form-control" id="pwd">
    <input type="hidden" formControlName="Address2" class="form-control" id="rpwd">
    <input type="hidden" formControlName="City" class="form-control" id="city">
    <select hidden class="form-control" id="District" formControlName="District">
       <option>Kasargod</option>
       <option>Kannur</option>
    </select>
    <select hidden class="form-control" id="State" formControlName="State">
        <option>Kerala</option>
    </select>
   <input type="hidden" formControlName="Pincode" class="form-control" id="rpwd">
   <select hidden class="form-control" id="state" formControlName="PlacetoMigrate">
        <option>Kasargod</option>
    </select>
   <input type="hidden" formControlName="PurposetoMigrate" class="form-control" id="rpwd">
   <input type="hidden" formControlName="AadharNumber" class="form-control" id="exampleInputAadharCard">
   <textarea hidden class="form-control" name="remarkbypolice" rows="4" placeholder="Message" formControlName="RemarksbyPolice"></textarea>
   <input type="date" hidden formControlName="DateofPoliceStatus" class="form-control" id="DateofPoliceStatus"/>
   <input type="date" hidden formControlName="DateofApplied" class="form-control" id="DateofApplied"/>
         

</form>