<section id="about" class="about">
  <br /><br />
  <h2 style="text-align:center">About Us</h2>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-7">
        <img
          src="https://4.bp.blogspot.com/-J0QBlFcnF6Y/WGGggeadbwI/AAAAAAAANH0/Qwwk_-jbYVE4XUvi8VgCzsaY8QJLPEHLACLcB/s1600/migrate.jpg"
          class="img-fluid" alt="">
      </div>
      <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
      
        <p>
          Migration Seva is a web application software which can be used to help the people who wishes to migrate from
          one district to another district. The application can be accessed from anywhere at same time inside Kerala.
          The people who wishes to migrate can register their details via this website. By creating an account and with
          the help of login credentials they can submit the application for migration. The admin can log on to the
          application with special admin credentials. The admin is responsible for handling the master entries of the
          database. And the Police departments that are assigned in the specified district can be verify those
          applicant's identity, this term is known as Police verification. Through these steps the people can migrate
          through the places were the wishes.
        </p>

        <div class="icon-box">
          <i class="bx bx-receipt"></i>
          <p>The Organization works to help ensure the orderly and humane management of migration, to promote
            international cooperation on migration issues, to assist in the search for practical solutions to migration
            problems and to provide humanitarian assistance to migrants in need, be they refugees, displaced persons or
            other uprooted people. The Migration Seva gives explicit recognition to the link between migration and
            economic, social and cultural development, as well as to the right of freedom of movement of persons.</p>

        </div>
      </div>
    </div>
  </div>
</section><br/>