<div class="sidebar">
  <h3></h3>
  <a [routerLink]="['/userhome']" class="active">Home</a>
  <a [routerLink]="['/userhome/apply']">Register Application</a>
  <a [routerLink]="['/userhome/userviewsts']">View Application Status</a>
  <a [routerLink]="['/home']">Logout</a>
</div>
<div class="main">
  <h3>Welcome, {{item}} </h3>
  <div class="row">
    <div class="col-sm-4">
      <div div class="col-sm-12 text-right" style="background-color: #04AA6D;
                color: white;;height:50px;">
        <div>Register Application</div>
      </div>

      <div class="col-sm-12 text-left" style="background-color: whitesmoke;height:50px;">
        <a style="color: rgb(90, 144, 190);" [routerLink]="['/userhome/apply']">Register</a>
      </div>
    </div>

    <div class="col-sm-4">

      <div div class="col-sm-12 text-right" style="background-color:  #04AA6D;color: white;height:50px;">
        <div>Application Status</div>
      </div>

      <div class="col-sm-12 text-left" style="background-color: whitesmoke;height:50px;">
        <a style="color: rgb(90, 144, 190);" [routerLink]="['/userhome/userviewsts']"> View Application</a>
      </div>
    </div>
  </div>
</div>