<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Migration Seva</h3>
            <p>
              Near Business Park <br>
              Trivandrum, Kerala<br><br>
              <strong>Phone:</strong> +91-9895548855<br>
              <strong>Email:</strong> migrationseva@example.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/home/aboutus">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/reg">Create Account</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/login">Login</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/home/contactus">Contact us</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Migration seva</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>