
<div class="container mt-3">
    <h2>Query Details</h2>
    <table class="table" border="1" class="table">
    <thead>
      <th>SL Number </th>
      <th>Name </th>
      <th>Email</th>
      <th>Subject</th>
      <th>Message</th> 
      <th>Reply</th>
      </thead>
        <tr *ngFor="let item of Dataarray let i=index">
         
            <td> {{i+1}} </td>
            <td> {{item.name}}</td>
            <td> {{item.email}} </td>
            <td> {{item.subject}} </td>
            <td> {{item.message}} </td>
            <td><a href="mailto:{{item.email}}">Reply</a></td>
            
     </tr>
    </table>
  </div>
