form{

    width: 800px;
    margin-left: 200px;
    margin-top:150px;

}

.container{

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

}
input
{
    background-color:whitesmoke;
}